.ms-editor .ms-menu {
  z-index: 99;
  padding: 5px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), -1px -1px 5px rgba(0, 0, 0, 0.25);
  cursor: auto;
  pointer-events: all;
}

.ms-editor .ms-menu-top-left {
  position: absolute;
  top: 0;
  left: 5px;
  border-radius: 0 0 5px 5px;
}

.ms-editor .ms-menu-bottom {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.ms-editor .ms-menu-top-right {
  position: absolute;
  top: 0;
  right: 5px;
  border-radius: 0 0 5px 5px;
}

.ms-editor .ms-menu .ms-menu-title {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  padding: 2px;
  background-color: #b3dfff;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.ms-editor .ms-menu-colmun {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ms-editor .ms-menu-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ms-editor .ms-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  gap: 5px;
  width: 100%;
}

.ms-editor .ms-menu .select-language {
  width: auto;
  height: 32px;
  padding: 0px 8px;
}

.ms-editor .ms-menu-item.list button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  border: none;
  font-size: inherit;
  padding: 0;
  background-color: white;
}

.ms-editor .ms-menu-item.list button:hover {
  background-color: rgb(239, 239, 239);
}

.ms-editor .ms-menu-item.list button.active {
  border: 1px solid #1A9FFF;
}

.ms-editor .ms-menu .color-list {
  gap: 2px;
  cursor: pointer;
  flex-wrap: wrap;
  margin: auto;
  padding: 4px;
  min-width: 150px;
  max-width: 150px;
}

.ms-editor .ms-menu .thickness-list {
  gap: 2px;
  cursor: pointer;
  flex-wrap: wrap;
  margin: auto;
  padding: 0px;
  min-width: 150px;
  max-width: 150px;
}

.ms-editor .ms-menu .font-size-list {
  gap: 2px;
  cursor: pointer;
  flex-wrap: wrap;
  margin: auto;
  padding: 0px;
  min-width: 150px;
  max-width: 150px;
}

.ms-editor .ms-menu .ms-menu-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  height: 32px;
  width: 100%;
  padding: 4px;
  border: none;
  font-size: inherit;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

.ms-editor .ms-menu svg {
  position: relative;
  width: 20px;
  height: 20px;
}

.ms-editor .ms-menu .ms-menu-button.center {
  justify-content: center;
}

.ms-editor .ms-menu .ms-menu-button.square {
  width: 32px;
  justify-content: center;
}

.ms-editor .ms-menu .ms-menu-button .color {
  height: 75%;
  width: 75%;
  border-radius: 100%;
  margin: auto;
}

.ms-editor .ms-menu .ms-menu-button:hover {
  background-color: rgb(239, 239, 239, 1);
}

.ms-editor .ms-menu .ms-menu-button:disabled {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0.5;
}

.ms-editor .ms-menu .ms-menu-button:focus,
.ms-editor .ms-menu .ms-menu-button:active {
  background-color: #1aa0ff55;
  outline: none;
}

.ms-editor .ms-menu .ms-menu-button.active {
  border: 1px solid #1A9FFF;
  color: #1A9FFF;
}

.ms-editor .sub-menu {
  position: relative;
  overflow: visible;
}

.ms-editor .sub-menu .sub-menu-content {
  position: absolute;
  z-index: 100;
  white-space: nowrap;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), -1px -1px 5px rgba(0, 0, 0, 0.25);
  width: auto;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.ms-editor .sub-menu .sub-menu-content.open {
  display: block;
}

.ms-editor .sub-menu .sub-menu-content.top {
  top: -8px;
  transform: translate(-50%, -100%);
  left: 50%;
}

.ms-editor .sub-menu .sub-menu-content.bottom {
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 100%);
}

.ms-editor .sub-menu .sub-menu-content.bottom-left {
  bottom: -8px;
  transform: translate(-0%, 100%);
  right: 0;
}

.ms-editor .sub-menu .sub-menu-content.right-top {
  top: 0%;
  transform: translate(100%, 0%);
  right: -8px;
}

.ms-editor .sub-menu .sub-menu-content.right {
  top: 50%;
  transform: translate(100%, -50%);
  right: -8px;
}

.ms-editor .ms-menu-context {
  position: absolute;
}

.ms-editor .ms-menu output {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -250%);
  white-space: nowrap;
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
  font-weight: bold;
  width: auto;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.ms-editor .ms-menu input:hover+output,
.ms-editor .ms-menu input:focus+output,
.ms-editor .ms-menu input:focus-visible+output {
  display: block;
}

.ms-editor .ms-menu input:not([type="checkbox"]):not([type="color"]):not([type="range"]),
.ms-editor .ms-menu select {
  height: 2rem;
  padding: 0 10px;
  border-radius: 3px;
  color: #131F26;
  font: 600 14px "Source Sans Pro", sans-serif;
  border: 1px solid #CED5D9;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.ms-editor .ms-menu input[type="file"] {
  border: none !important;
}

.ms-editor .ms-menu input[type="file"]:focus {
  border: none !important;
  box-shadow: none !important;
}

.ms-editor .ms-menu input[type="file"]:focus::file-selector-button {
  border: 1px solid #1a9fff !important;
}

.ms-editor .ms-menu input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  margin: 0 8px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: auto;
  height: 2rem;
  transition: background-color 200ms;
}

.ms-editor .ms-menu input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

.ms-editor .ms-menu input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.ms-editor .ms-menu select {
  padding: 0 25px 0 10px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxOCAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00LjQyMi4yNmMtLjIzMy0uMzM3LS42MS0uMzM3LS44NDQgMEwuMTc1IDUuMTdDLS4xNDIgNS42MjguMDQ4IDYgLjYxIDZoNi43OGMuNTU4IDAgLjc1NC0uMzcuNDM1LS44M0w0LjQyMi4yNnptLjAyIDEzLjQ3Yy0uMjM2LjM0Mi0uNjE4LjM0Ny0uODUuMDFMLjE2NyA4LjgxOEMtLjE0NiA4LjM2Ny4wNDggOCAuNjA4IDhoNi43ODNjLjU1OCAwIC43NTUuMzcuNDM3LjgzbC0zLjM4NSA0Ljl6IiBmaWxsPSIjMTMxRjI2Ii8+PC9nPjwvc3ZnPg==) right center no-repeat #fff;
}

.ms-editor .ms-menu input:not([type="checkbox"]):not([type="color"]):not([type="range"]):not([type="file"]):focus,
.ms-editor .ms-menu select:focus {
  outline: 0;
  border: 1px solid #1a9fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}
