.home {
  background-color: #f5f5f5;
  padding-bottom: 48px;
}

.home h1 {
  padding-top: 12px;
  margin: 0px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.home .home-header {
  z-index: 999;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.home .home-header .home-menu-toggle {
  position: absolute;
  top: 8px;
  left: 8px;
  display: none;
}

.home-header-link {
  width: 110px;
  height: 48px;
  background: transparent url(../img/myscript-logo.svg) no-repeat center/contain;
}

.home .back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #1aa0ffb6;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.home .back-to-top-btn:hover {
  background-color: #1A9FFF;
}

.home .home-content {
  display: flex;
}

.home .home-nav {
  position: sticky;
  top: 50px;
  display: flex;
  display: -webkit-flex;
  align-content: center;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 12px;
  height: 100%;
  width: 250px;
  border: 1px solid #D7DDE3;
}

.home .home-nav h2 {
  margin: 0px;
}

.home .home-nav ul {
  list-style: none;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

.home .home-nav li {
  margin-top: 12px;
}

.home .home-nav a {
  text-decoration: none;
  color: #1a9fff;
  transition: all 125ms;
}

.home .home-main {
  width: calc(100dvw - 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 12px;
  details > summary::-webkit-details-marker {
    display: none;
  }
}

.home .home-main .example-recognition {
  width: 100%;
  max-width: 1000px;
  background-color: white;
}

.home .home-main .example-recognition-summary {
  position: sticky;
  top: 50px;
  background-color: white;
}

.home .home-main .example-recognition-title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  margin: 0;
}

.home .home-main .example-recognition-title h2 {
  color: #1A9FFF;
  margin: 0px;
}

.home .home-main .example-recognition-title .quote {
  color: #969696;
  font-style: italic;
}

.home .home-main .example-recognition-title img {
  height: 50px;
  width: auto;
  stroke: #1A9FFF;
}

.home .home-main .example-recognition-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.home .home-main .example-recognition .example-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 12px;
  padding-bottom: 24px;
}

.home .home-main .example-recognition .example-section-title {
  grid-column: span 2;
  margin-bottom: 6px;
  padding: 0 6px;
  background-color: #1aa0ff50;
  display: flex;
  align-items: center;
  height: 32px;
}

.home .home-main .example-recognition .example-item {
  min-width: 175px;
  padding: 12px;
  box-shadow: 0 6px 24px -12px rgba(6, 6, 7, .4);
}

.home .home-main .example-recognition .example-item .example-btn-wrapper {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  text-align: center;
}

.home .home-main .example-recognition .example-item .btn {
  height: 48px;
  line-height: 43px;
  width: 40%;
  min-width: 175px;
  background-color: rgba(0, 0, 0, .08);
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  color: #1a9fff;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 3px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  transition: all 125ms;
}

.home .home-main .example-recognition .example-item .btn .icn {
  margin: 0 2px -4px -12px;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1000px) {
  .home .home-header .home-menu-toggle {
    display: block;
  }

  .home .home-nav {
    position: fixed;
    z-index: 100;
  }
  .home .home-nav.hidden {
    display: none;
  }

  .home .home-main {
    width: 100dvw;
    gap: 24px;
    padding: 12px 6px;
  }

}

@media screen and (max-width: 600px) {
  .home .home-main {
      gap: 24px;
      padding: 6px 3px;
  }

  .home .home-main .example-recognition {
      width: calc(100% - 10px);
  }

  .home .home-main .example-recognition-content {
      padding: 0px;
  }

  .home .home-main .example-recognition .example-item {
      grid-column: span 2;
  }

  .home .home-main .example-recognition .example-item .example-btn-wrapper {
      margin: 5px 0;
  }
}
