nav {
    background: url(https://farm6.staticflickr.com/5526/10976824044_aebaebdb12_z_d.jpg) no-repeat center center / cover;
}

.my-custom-class {
    position: relative;
    height: calc(100dvh - 66px);
    width: 100%;
    z-index: 20;
    font-family: sans-serif;
    background: url(https://farm6.staticflickr.com/5526/10976824044_aebaebdb12_z_d.jpg) no-repeat center center / cover;
    color: #F5F6F7;
}

.my-custom-class.erase {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEsSURBVDiNrdO7SgNBFMbx/3fmCbQ1tunDIayFBvFSKxbxBfSdBPEBtLIWb3Ebl4R9AQWLkE70CWbHZl1Eg2iSr5vL+c1hhhFTMhwOdyX1gQ2gVU+PgTyldNHtdq+/1+jroCiKtpmdSupNO6ApkgZmdtzpdJ5+QGVZ9qqqugSWfkO+5F3SnrvnDVQURTuE8PgP5DNvkjJ3fzaAEMLJDAjAclVVZwCqL/ZqBqSJme2YpMN5EIAYY9+A9XkhST0DVuaFgJYtAAGoDJgsAJoYkM+rSHqwlNL5Ajq6EMBoNLoBtmbsZuDumwYQYzwCXmdw3oAjAAPIsuxF0kG98GdE0r67PzcQgLvnIYQ14P4PyF39WZuH0rRdZVluxxj7kjaA1Xp6nFLKzezc3W+/13wAItdV6XjME1AAAAAASUVORK5CYII='), auto;
}

.my-custom-class .ms-layer-rendering {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    height: 100%;
    width: 100%;
    cursor: crosshair;
}
.my-custom-class .ms-layer-ui {
    position: sticky;
    z-index: 25;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;
}

.my-custom-class .ms-layer-ui>* {
    cursor: auto;
    pointer-events: all;
    user-select: none;
}

.my-custom-class [data-layer="MODEL"],
.my-custom-class [data-layer="CAPTURE"] {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
}

.my-custom-class svg {
    z-index: 10;
    pointer-events: none;
}

.my-custom-class svg line {
    stroke: white;
    opacity: 1;
    stroke-width: 0.25px;
}

.my-custom-class .loader {
    z-index: 30;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border: none;
    border-radius: 0;
    -webkit-animation: rotate-plan 2.4s infinite ease-in-out;
    animation: rotate-plan 2.4s infinite ease-in-out;
}

.my-custom-class .message-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.my-custom-class .message-overlay {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 228, 228, 0.20);
    cursor: not-allowed;
}

.my-custom-class .message-modal {
    z-index: 999;
    position: absolute;
    max-height: calc(100% - 100px);
    max-width: calc(100% - 8px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
    background-color: rgb(107, 107, 107);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), -1px -1px 5px rgba(0, 0, 0, 0.25);
    padding: 12px;
}

.my-custom-class .error-msg p {
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
}

.my-custom-class .error-msg::before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNzYgMjc2IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICAgIDxjaXJjbGUgY3g9IjEzOCIgY3k9IjEzOCIgcj0iMTI0IiBzdHJva2U9IiNCMzAwMDAiIHN0cm9rZS13aWR0aD0iMjgiIGZpbGw9Im5vbmUiLz4KICAgIDxsaW5lIHgxPSI0NSIgeTE9IjQ1IiB4Mj0iMjMxIiB5Mj0iMjMxIiBzdHJva2U9IiNCMzAwMDAiIHN0cm9rZS13aWR0aD0iMjIiLz4KPC9zdmc+Cg==);
}

.my-custom-class .message-modal .ms-button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="24px" height="24px" stroke-width="1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23000000"><path d="M9.17218 14.8284L12.0006 12M14.829 9.17157L12.0006 12M12.0006 12L9.17218 9.17157M12.0006 12L14.829 14.8284" stroke="%23000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="%23000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    border: none;
    font-size: inherit;
    padding: 0;
    background-color: #757575;
    border: 1px solid white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), -1px -1px 5px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 1);
}

.my-custom-class .smartguide {
    position: absolute;
    font-size: 16px;
    line-height: 48px;
    z-index: 40;
    top: 0px;
    left: 0px;
    width: 100%;
    cursor: default;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 2px 2px 12px #BDBDBD;
    font-size: 16px;
    background-color: rgba(60, 60, 60, 0.5);
    pointer-events: all;
}
.my-custom-class .smartguide .smartguide-wrapper {
    display: flex;
    border-bottom: 1px solid #959da6;
}
.my-custom-class .smartguide .tag-icon {
    padding: 0 18px;
    border: 1px solid #959DA6;
    font-weight: bold;
    font-size: large;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 31;
    height: 48px;
    line-height: 48px;
    color: white;
}
.my-custom-class .smartguide .ellipsis {
    cursor: pointer;
    z-index: 31;
    height: 48px;
    line-height: 38px;
    padding: 0 8px;
    font-weight: bold;
    font-size: x-large;
    color: #959DA6;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: white;
    border: 1px solid #959DA6;
}
.my-custom-class .smartguide .ellipsis:active {
    background-color: #e0e0e0;
}
.my-custom-class .smartguide .prompter-container {
    height: 48px;
    width: 100%;
    line-height: 48px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-align: left;
    color: #757575;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.my-custom-class .smartguide .prompter-container .prompter-text {
    display: flex;
}
.my-custom-class .smartguide .prompter-container .prompter-text > span {
    cursor: pointer;
}
.my-custom-class .smartguide .prompter-container .prompter-text {
    margin-left: 12px;
}

.my-custom-class .smartguide .candidates {
    color: white;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    transform: translateX(-50%);
    z-index: 100;
    background-color: rgba(60, 60, 60, 1);
    box-shadow: 2px 2px 12px #BDBDBD, -2px 2px 12px #BDBDBD;
    -webkit-tap-highlight-color: transparent;
    border: 1px solid red;
    margin-top: 11px;
}
.my-custom-class .smartguide .candidates:before {
    content: " ";
	border-bottom: 11px solid red;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
}
.my-custom-class .smartguide .candidates > span {
    cursor: pointer;
    padding: 2px 20px;
}
.my-custom-class .smartguide .candidates > span:hover {
    background-color: #c7c7c7;
}
.my-custom-class .smartguide .candidates > span:active {
    background-color: #E0E0E0;
}
.my-custom-class .smartguide .candidates .selected-word {
    font-weight: bold;
    color: #1A9FFF;
}
.my-custom-class .smartguide .more-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    line-height: 30px;
    border-radius: 3px;
    box-shadow: 2px 2px 12px #BDBDBD;
    overflow: hidden;
    transition: max-height 1s ease-out, opacity 1s, visibility 0.5s linear;
    background-color: rgba(60, 60, 60, 1);
    pointer-events: all;
}
.my-custom-class .smartguide .more-menu.open {
    max-height: 500px;
    visibility: visible;
    opacity: 1;
}
.my-custom-class .smartguide .more-menu.close {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
}
.my-custom-class .smartguide .more-menu .options-label-button {
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    background: transparent;
    border: none;
    padding: 0 24px;
    margin: 0;
    height: 40px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.my-custom-class .smartguide .more-menu .options-label-button:hover {
    background-color: rgba(100, 100, 100, 0.5);
}
.my-custom-class .smartguide .more-menu .options-label-button:active {
    background-color: rgba(100, 100, 100, 0.5);
}

.my-custom-class .added-word {
    animation: 1s linear word-added-anim, 1s ease-in-out color-input-anim;
}

.my-custom-class .modified-word {
    animation: 1s linear word-modified-anim;
}

@keyframes color-input-anim {
    0% {
        color: #fffeff;
    }
    25% {
        color: #0000ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff0000;
    }
    100% {
        color: #757575;
    }
}

@keyframes word-added-anim {
    0% {
        transform: translate(50px, 0px);
    }
    100% {
        transform: none;
    }
}

@keyframes word-modified-anim {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-plan {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
    75% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
}

@-webkit-keyframes rotate-plan {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    25% {
        -webkit-transform: perspective(120px) rotateX(180deg) rotateY(0deg)
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(180deg) rotateY(180deg)
    }
    75% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
}
