* {
  box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

nav {
  border-bottom: 1px solid #D7DDE3;
  padding: 12px;
}

