.ms-editor .smartguide {
  position: absolute;
  z-index: 40;
  font-size: 16px;
  line-height: 48px;
  top: 0px;
  left: 0px;
  width: 100%;
  cursor: default;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 2px 2px 12px #BDBDBD;
}

.ms-editor .smartguide .smartguide-wrapper {
  display: flex;
  border-bottom: 1px solid #959da6;
}

.ms-editor .smartguide .tag-icon {
  padding: 0 18px;
  border-left: 1px solid #959DA6;
  border-top: 1px solid #959DA6;
  border-right: 1px solid #959DA6;
  font-weight: bold;
  font-size: large;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 31;
  height: 100%;
  line-height: 48px;
  height: 48px;
  width: 48px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #959DA6;
}

.ms-editor .smartguide .ellipsis {
  cursor: pointer;
  height: 48px;
  width: 48px;
  line-height: 38px;
  padding: 0 8px;
  font-weight: bold;
  font-size: x-large;
  color: #959DA6;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.ms-editor .smartguide .ellipsis:active {
  background-color: #e0e0e0;
}

.ms-editor .smartguide .prompter-container {
  height: 48px;
  width: calc(100% - 96px);
  line-height: 48px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-align: left;
  color: #bfbfbf;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.ms-editor .smartguide .prompter-container>div>span {
  cursor: pointer;
  display: inline-block;
}

.ms-editor .smartguide .prompter-container .prompter-text {
  margin-left: 12px;
}

.ms-editor .smartguide .prompter-container .prompter-text .added-word {
  animation: 0.1s linear word-added, 3s ease-in-out color-input;
}

.ms-editor .smartguide .prompter-container .prompter-text .modified-word {
  animation: 0.1s linear word-modified, 3s ease-in-out color-input;
}

.ms-editor .smartguide .candidates {
  z-index: 100;
  position: absolute;
  color: black;
  flex-direction: column;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  box-shadow: 2px 2px 12px #BDBDBD, -2px 2px 12px #BDBDBD;
  background-color: #F5F5F5;
  -webkit-tap-highlight-color: transparent;
}

.ms-editor .smartguide .candidates>span {
  cursor: pointer;
  padding: 2px 20px;
}

.ms-editor .smartguide .candidates>span:hover {
  background-color: #EEEEEE;
}

.ms-editor .smartguide .candidates>span:active {
  background-color: #E0E0E0;
}

.ms-editor .smartguide .candidates .selected-word {
  font-weight: bold;
  background-color: #E0E0E0;
}

.ms-editor .smartguide .more-menu {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  line-height: 30px;
  border-radius: 3px;
  position: absolute;
  z-index: 100;
  box-shadow: 2px 2px 12px #BDBDBD;
  background-color: #F5F5F5;
  overflow: hidden;
  transition: max-height 1s ease-out, opacity 1s, visibility 0.5s linear;
  right: 0;
  bottom: 0;
  transform: translateY(100%)
}

.ms-editor .smartguide .more-menu.open {
  max-height: 500px;
  visibility: visible;
  opacity: 1;
}

.ms-editor .smartguide .more-menu.close {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}

.ms-editor .smartguide .more-menu .options-label-button {
  color: black;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  background: transparent;
  border: none;
  padding: 0 24px;
  margin: 0;
  height: 40px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.ms-editor .smartguide .more-menu .options-label-button:hover {
  background-color: #EEEEEE;
  padding: 4px;
}

.ms-editor .smartguide .more-menu .options-label-button:active {
  background-color: #E0E0E0;
}

@keyframes color-input {
  0% {
    color: black;
  }

  100% {
    color: #bfbfbf;
  }
}

@keyframes word-added {
  0% {
    transform: translate(5px, 0);
  }

  100% {
    transform: none;
  }
}

@keyframes word-modified {
  0% {
    transform: translate(0, 5px);
  }

  100% {
    transform: none;
  }
}
