.ms-editor {
    position: relative;
    z-index: 10;
    color: #1A9FFF;
    font-family: sans-serif;
}

.ms-editor.draw {
    cursor: url("data:image/svg+xml,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cg filter='url(%23filter0_d)'%3e %3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.43702 16.0334C5.34614 16.4272 5.27026 16.756 5.23398 17.0219C5.19704 17.2927 5.1887 17.5732 5.2954 17.84C5.44787 18.2211 5.74987 18.5231 6.13101 18.6756C6.39776 18.7823 6.67831 18.7739 6.94905 18.737C7.21501 18.7007 7.54379 18.6248 7.93756 18.5339L9.16832 18.2499C9.18128 18.2469 9.19406 18.244 9.20667 18.2411C9.50263 18.1728 9.70764 18.1256 9.9021 18.0446C10.0742 17.973 10.2377 17.8824 10.3897 17.7744C10.5614 17.6524 10.7101 17.5036 10.9248 17.2888C10.934 17.2796 10.9432 17.2704 10.9526 17.261L19.9349 8.27866C20.2196 7.99407 20.4544 7.75918 20.6301 7.55221C20.8126 7.33724 20.9605 7.11971 21.0446 6.86069C21.1752 6.459 21.1752 6.02631 21.0446 5.62462C20.9605 5.3656 20.8126 5.14807 20.6301 4.9331C20.4544 4.72613 20.2196 4.49125 19.935 4.20666L19.7643 4.03601C19.4797 3.75141 19.2448 3.51652 19.0379 3.34082C18.8229 3.15832 18.6054 3.01049 18.3463 2.92633C17.9447 2.79581 17.512 2.79581 17.1103 2.92633C16.8513 3.01049 16.6337 3.15832 16.4188 3.34082C16.2118 3.51653 15.9769 3.75142 15.6923 4.03603L6.71 13.0183C6.7006 13.0277 6.69132 13.037 6.68216 13.0462C6.46735 13.2609 6.31856 13.4096 6.19655 13.5813C6.08858 13.7332 5.99794 13.8968 5.92632 14.0689C5.84539 14.2633 5.79813 14.4683 5.72989 14.7643C5.72698 14.7769 5.72404 14.7897 5.72105 14.8026L5.43702 16.0334Z' fill='white'/%3e %3c/g%3e %3cpath d='M19.4255 4.40415L19.5669 4.54557C20.1609 5.1396 20.4579 5.43661 20.5692 5.7791C20.6671 6.08037 20.6671 6.40489 20.5692 6.70616C20.4579 7.04865 20.1609 7.34566 19.5669 7.93969L18.4355 9.07106L10.5992 16.9074C10.3578 17.1488 10.2371 17.2695 10.1001 17.3668C9.9786 17.4532 9.84777 17.5257 9.7101 17.583C9.55502 17.6475 9.38868 17.6859 9.05601 17.7627L7.8485 18.0414C7.02134 18.2322 6.60776 18.3277 6.31682 18.2113C6.06273 18.1097 5.86139 17.9083 5.75975 17.6542C5.64337 17.3633 5.73882 16.9497 5.9297 16.1226L6.20836 14.915L6.20836 14.915C6.28513 14.5824 6.32351 14.416 6.38805 14.261C6.44535 14.1233 6.51786 13.9925 6.60424 13.8709C6.70154 13.734 6.82225 13.6133 7.06367 13.3719L14.9 5.53552L16.0314 4.40415C16.6254 3.81013 16.9224 3.51311 17.2649 3.40183C17.5662 3.30395 17.8907 3.30395 18.192 3.40183C18.5344 3.51311 18.8315 3.81013 19.4255 4.40415Z' fill='white'/%3e %3cpath d='M18.4355 9.07106L19.5669 7.93969C20.1609 7.34566 20.4579 7.04865 20.5692 6.70616C20.6671 6.40489 20.6671 6.08037 20.5692 5.7791C20.4579 5.43661 20.1609 5.1396 19.5669 4.54557L19.4255 4.40415C18.8315 3.81013 18.5344 3.51311 18.192 3.40183C17.8907 3.30394 17.5662 3.30394 17.2649 3.40183C16.9224 3.51311 16.6254 3.81013 16.0314 4.40415L14.9 5.53552M18.4355 9.07106L10.5992 16.9074C10.3578 17.1488 10.2371 17.2695 10.1001 17.3668C9.9786 17.4532 9.84777 17.5257 9.7101 17.583C9.55502 17.6475 9.38868 17.6859 9.05601 17.7627L7.8485 18.0414C7.02134 18.2322 6.60776 18.3277 6.31682 18.2113C6.06273 18.1097 5.86139 17.9083 5.75975 17.6542C5.64337 17.3633 5.73882 16.9497 5.9297 16.1226L6.20836 14.915C6.28513 14.5824 6.32351 14.416 6.38805 14.261C6.44535 14.1233 6.51786 13.9925 6.60424 13.8709C6.70154 13.734 6.82225 13.6133 7.06367 13.3719L14.9 5.53552M18.4355 9.07106L14.9 5.53552' stroke='black' stroke-linejoin='round'/%3e %3cdefs%3e %3cfilter id='filter0_d' x='0.506119' y='0' width='24.4648' height='24.4648' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e %3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e %3cfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3e %3cfeOffset dy='1'/%3e %3cfeGaussianBlur stdDeviation='1.5'/%3e %3cfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0'/%3e %3cfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3e %3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3e %3c/filter%3e %3c/defs%3e %3c/svg%3e") 5.5 19.5, crosshair;
}
.ms-editor.draw.shape {
    cursor: crosshair;
}
.ms-editor.erase {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEsSURBVDiNrdO7SgNBFMbx/3fmCbQ1tunDIayFBvFSKxbxBfSdBPEBtLIWb3Ebl4R9AQWLkE70CWbHZl1Eg2iSr5vL+c1hhhFTMhwOdyX1gQ2gVU+PgTyldNHtdq+/1+jroCiKtpmdSupNO6ApkgZmdtzpdJ5+QGVZ9qqqugSWfkO+5F3SnrvnDVQURTuE8PgP5DNvkjJ3fzaAEMLJDAjAclVVZwCqL/ZqBqSJme2YpMN5EIAYY9+A9XkhST0DVuaFgJYtAAGoDJgsAJoYkM+rSHqwlNL5Ajq6EMBoNLoBtmbsZuDumwYQYzwCXmdw3oAjAAPIsuxF0kG98GdE0r67PzcQgLvnIYQ14P4PyF39WZuH0rRdZVluxxj7kjaA1Xp6nFLKzezc3W+/13wAItdV6XjME1AAAAAASUVORK5CYII=') 10 10, auto;
}
.ms-editor.select {
    cursor: default;
}
.ms-editor.select [type="stroke"] {
    cursor: pointer;
}

.ms-editor canvas,
.ms-editor svg {
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.ms-editor canvas.ms-rendering-canvas {
    z-index: 9;
    pointer-events: none;
    background-image: linear-gradient(to right, #F5F6F7 1px, transparent 1px), linear-gradient(to bottom, #F5F6F7 1px, transparent 1px);
    background-size: 18px 18px;
}

.ms-editor .loader {
    z-index: 30;
    position: absolute;
    width: 120px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    border: 16px solid #F5F6F7;
    border-radius: 50%;
    border-top-color: #1A9FFF;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.ms-editor .message {
    z-index: 25;
    position: absolute;
    width: 300px;
    max-height: calc(25%);
    min-height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
}

.ms-editor .message.error-msg::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCA3Ni41IDYxMiA0NTkiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWluIG1lZXQiPgogICAgPHBhdGggZmlsbD0iIzFBOUZGRiIgZD0iTTQ5NC43LDIyOS41Yy0xNy44NTEtODYuNy05NC4zNTEtMTUzLTE4OC43LTE1M2MtMzguMjUsMC03My45NSwxMC4yLTEwMiwzMC42bDM4LjI1LDM4LjI1IGMxNy44NS0xMi43NSw0MC44LTE3Ljg1LDYzLjc1LTE3Ljg1Yzc2LjUsMCwxNDAuMjUsNjMuNzUsMTQwLjI1LDE0MC4yNXYxMi43NWgzOC4yNWM0My4zNSwwLDc2LjUsMzMuMTUsNzYuNSw3Ni41IGMwLDI4LjA1LTE1LjMsNTMuNTUtNDAuOCw2Ni4zbDM4LjI1LDM4LjI1QzU5MS42LDQzOC42LDYxMiw0MDAuMzUsNjEyLDM1N0M2MTIsMjkwLjcsNTU4LjQ1LDIzNC42LDQ5NC43LDIyOS41eiBNNzYuNSwxMDkuNjUgbDcxLjQsNjguODVDNjYuMywxODMuNiwwLDI0OS45LDAsMzMxLjVjMCw4NC4xNSw2OC44NSwxNTMsMTUzLDE1M2gyOTguMzVsNTEsNTFsMzMuMTUtMzMuMTVMMTA5LjY1LDc2LjVMNzYuNSwxMDkuNjV6IE0xOTYuMzUsMjI5LjVsMjA0LDIwNEgxNTNjLTU2LjEsMC0xMDItNDUuOS0xMDItMTAyYzAtNTYuMSw0NS45LTEwMiwxMDItMTAySDE5Ni4zNXoiIC8+Cjwvc3ZnPgo=");
}

.ms-editor .message.info-msg::before {
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgdmlld0JveD0iMCAwIDI0IDI0IgogIGZpbGw9Im5vbmUiCiAgc3Ryb2tlPSIjMUE5RkZGIgogIHN0cm9rZS13aWR0aD0iMiIKICBzdHJva2UtbGluZWNhcD0icm91bmQiCiAgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIKPgogIDxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIiAvPgogIDxsaW5lIHgxPSIxMiIgeTE9IjE2IiB4Mj0iMTIiIHkyPSIxMiIgLz4KICA8bGluZSB4MT0iMTIiIHkxPSI4IiB4Mj0iMTIuMDEiIHkyPSI4IiAvPgo8L3N2Zz4=");
    background-size: 100% 100%;
    display: block;
    margin: auto;
    padding-bottom: 10px;
    height: 25px;
    width: 25px;
}

.ms-editor .smartguide {
    position: absolute;
    z-index: 40;
    font-size: 16px;
    line-height: 48px;
    top: 0px;
    left: 0px;
    width: 100%;
    cursor: default;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 2px 2px 12px #BDBDBD;
}

.ms-editor .smartguide .smartguide-wrapper {
    display: flex;
    border-bottom: 1px solid #959da6;
}

.ms-editor .smartguide .tag-icon {
    padding: 0 18px;
    border-left: 1px solid #959DA6;
    border-top: 1px solid #959DA6;
    border-right: 1px solid #959DA6;
    font-weight: bold;
    font-size: large;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 31;
    height: 100%;
    line-height: 48px;
    height: 48px;
    width: 48px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #959DA6;
}

.ms-editor .smartguide .ellipsis {
    cursor: pointer;
    height: 48px;
    width: 48px;
    line-height: 38px;
    padding: 0 8px;
    font-weight: bold;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.9);
    color: #959DA6;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.ms-editor .smartguide .ellipsis:active {
    background-color: #e0e0e0;
}

.ms-editor .smartguide .prompter-container {
    background-color: rgba(255, 255, 255, 0.9);
    height: 48px;
    width: calc(100% - 96px);
    line-height: 48px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-align: left;
    color: #bfbfbf;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.ms-editor .smartguide .prompter-container > div > span {
    cursor: pointer;
    display: inline-block;
}

.ms-editor .smartguide .prompter-container .prompter-text {
    margin-left: 12px;
}

.ms-editor .smartguide .prompter-container .prompter-text .added-word {
    animation: 0.1s linear word-added,
    3s ease-in-out color-input;
}

.ms-editor .smartguide .prompter-container .prompter-text .modified-word {
    animation: 0.1s linear word-modified,
    3s ease-in-out color-input;
}

.ms-editor .smartguide .candidates {
    z-index: 100;
    position: absolute;
    color: black;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    box-shadow: 2px 2px 12px #BDBDBD, -2px 2px 12px #BDBDBD;
    background-color: #F5F5F5;
    -webkit-tap-highlight-color: transparent;
}

.ms-editor .smartguide .candidates > span {
    cursor: pointer;
    padding: 2px 20px;
}

.ms-editor .smartguide .candidates > span:hover {
    background-color: #EEEEEE;
}

.ms-editor .smartguide .candidates > span:active {
    background-color: #E0E0E0;
}

.ms-editor .smartguide .candidates .selected-word {
    font-weight: bold;
    background-color: #E0E0E0;
}

.ms-editor .smartguide .more-menu {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    line-height: 30px;
    border-radius: 3px;
    position: absolute;
    z-index: 100;
    box-shadow: 2px 2px 12px #BDBDBD;
    background-color: #F5F5F5;
    overflow: hidden;
    transition: max-height 1s ease-out, opacity 1s, visibility 0.5s linear;
    right: 0;
    bottom: 0;
    transform: translateY(100%)
}
.ms-editor .smartguide .more-menu.open {
    max-height: 500px;
    visibility: visible;
    opacity: 1;
}
.ms-editor .smartguide .more-menu.close {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
}

.ms-editor .smartguide .more-menu .options-label-button {
    color: black;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    background: transparent;
    border: none;
    padding: 0 24px;
    margin: 0;
    height: 40px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.ms-editor .smartguide .more-menu .options-label-button:hover {
    background-color: #EEEEEE;
}

.ms-editor .smartguide .more-menu .options-label-button:active {
    background-color: #E0E0E0;
}

.ms-editor .ps__rail-x {
    top: 32px !important;
}

.ms-editor #stroke-panel {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: white;
    border: solid black 2px;
    padding: 5px;
    word-wrap: break-word;
    overflow: auto;
    cursor: copy;
    max-height: 100px;
    z-index: 999;
}

.ms-editor hr.separator.horizontal {
    min-height: 1px;
    min-width: 100%;
    max-height: 1px;
    max-width: 100%;
    margin: 5px 0;
    border: none;
    border-top: 1px solid lightgrey;
}
.ms-editor hr.separator.vertical {
    min-height: 100%;
    min-width: 1px;
    max-height: 100%;
    max-width: 1px;
    margin: 0 5px;
    border: none;
    border-left: 1px solid lightgrey;
}

/** Stroke **/
.ms-editor .stroke-menu {
    position: absolute;
    z-index: 999;
    width: auto;
    display: flex;
    gap: 2px;
    cursor: pointer;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25), -2px -2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 5px;
    cursor: auto;
}
.ms-editor .stroke-menu-button {
    display: block;
    position: relative;
    cursor: pointer;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    background: #f6f5f4;
    border: none;
    background-color: white;
    margin: auto;
    font-size: inherit;
}
.ms-editor .stroke-menu-button:hover {
    background-color: rgba(111, 111, 111, 0.1);
}
.ms-editor .stroke-menu-button .tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background-color: black;
    color: white;
    font-weight: bold;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    display: none;
}
.ms-editor output.tooltip {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background-color: white;
    color: black;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
    font-weight: bold;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    display: none;
}
.ms-editor input:hover + output.tooltip,
.ms-editor input:focus + output.tooltip,
.ms-editor input:focus-visible + output.tooltip {
    display: block;
}
.ms-editor .stroke-menu-button:focus .tooltip,
.ms-editor .stroke-menu-button:focus-visible .tooltip,
.ms-editor .stroke-menu-button:hover .tooltip {
    display: block;
}
.ms-editor .stroke-menu-button svg {
    display: block;
    position: relative;
}
.ms-editor .stroke-sub-menu {
    display: none;
    width: 190px;
    border-radius: 12px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
    position: absolute;
    top: 100%;
    transform: translate(calc(-50% + 16px), 12px);
}
.ms-editor .stroke-sub-menu.active {
    display: block;
}
.ms-editor .stroke-sub-menu label {
    color: #717171;
    padding: 5px;
    font-weight: bold;
}
.ms-editor .stroke-menu-button-color {
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
}
.ms-editor .stroke-menu .menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.ms-editor .removed-stroke {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.ms-editor .added-stroke {
    animation: 0.2s opacity-appear;
}

@keyframes color-input {
    0% {
        color: black;
    }
    100% {
        color: #bfbfbf;
    }
}

@keyframes word-added {
    0% {
        transform: translate(5px, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes word-modified {
    0% {
        transform: translate(0, 5px);
    }
    100% {
        transform: none;
    }
}

@keyframes opacity-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity : 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
