.ms-editor {
    position: relative;
    z-index: 10;
    color: #1A9FFF;
    font-family: sans-serif;
    overflow: auto;
    width: 100%;
	height: 100%;
}

.ms-editor.draw {
    cursor: url('data:image/svg+xml,<svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M14.3632 5.65156L15.8431 4.17157C16.6242 3.39052 17.8905 3.39052 18.6716 4.17157L20.0858 5.58579C20.8668 6.36683 20.8668 7.63316 20.0858 8.41421L18.6058 9.8942M14.3632 5.65156L4.74749 15.2672C4.41542 15.5993 4.21079 16.0376 4.16947 16.5054L3.92738 19.2459C3.87261 19.8659 4.39148 20.3848 5.0115 20.33L7.75191 20.0879C8.21972 20.0466 8.65806 19.8419 8.99013 19.5099L18.6058 9.8942M14.3632 5.65156L18.6058 9.8942" stroke="%23000000" fill="white" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" ></path></svg>') 5 20, pointer;
}
.ms-editor.draw.shape {
    cursor: crosshair;
}
.ms-editor.erase {
    cursor: url('data:image/svg+xml,<svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M2.8934 12.6066L12.0858 3.41421C12.8668 2.63317 14.1332 2.63317 14.9142 3.41421L19.864 8.36396C20.645 9.14501 20.645 10.4113 19.864 11.1924L10.6213 20.435C10.2596 20.7968 9.76894 21 9.25736 21C8.74577 21 8.25514 20.7968 7.8934 20.435L2.8934 15.435C2.11235 14.654 2.11235 13.3877 2.8934 12.6066Z" stroke="%23000000" fill="white" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" ></path><path d="M21 21L9 21" stroke="%23000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path><path d="M15.889 14.8891L8.46436 7.46448" stroke="%23000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path></svg>') 5 20, auto;
}
.ms-editor.move {
    cursor: url('data:image/svg+xml,<svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="white"><path d="M7 10.5L4.99591 13.1721C4.41845 13.9421 4.47127 15.0141 5.1216 15.7236L8.9055 19.8515C9.28432 20.2647 9.81826 20.5 10.3789 20.5C11.4651 20.5 13.2415 20.5 15 20.5C17.4 20.5 19 19 19 16.5C19 16.5 19 16.5 19 16.5C19 16.5 19 9.64287 19 7.92859" stroke="%23000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" ></path><path d="M16 8.49995C16 8.49995 16 8.37483 16 7.92852C16 5.6428 19 5.6428 19 7.92852" stroke="%23000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" ></path><path d="M13 8.50008C13 8.50008 13 7.91978 13 7.02715M13 6.50008C13 6.50008 13 6.804 13 7.02715M16 8.50008C16 8.50008 16 8.37496 16 7.92865C16 7.70549 16 7.25031 16 7.02715C16 4.74144 13 4.74144 13 7.02715" stroke="%23000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" ></path><path d="M13 8.50008C13 8.50008 13 7.91978 13 7.02715C13 4.74144 16 4.74144 16 7.02715C16 7.25031 16 7.70549 16 7.92865C16 8.37496 16 8.50008 16 8.50008" stroke="%23000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" ></path><path d="M10 8.50005C10 8.50005 10 7.85719 10 6.50005C10 4.21434 13 4.21434 13 6.50005C13 6.50005 13 6.50005 13 6.50005C13 6.50005 13 6.80397 13 7.02713C13 7.91975 13 8.50005 13 8.50005" stroke="%23000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" ></path><path d="M7 13.5001V6.50006C7 5.67164 7.67157 5.00006 8.5 5.00006V5.00006C9.32843 5.00006 10 5.55527 10 6.38369C10 6.42151 10 6.4603 10 6.50006C10 7.85721 10 8.50006 10 8.50006" stroke="%23000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" ></path></svg>') 10 10, auto;
}
.ms-editor.select {
    cursor: context-menu;
}

.ms-editor canvas,
.ms-editor svg {
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
}

.ms-editor canvas.ms-rendering-canvas {
    z-index: 9;
    pointer-events: none;
    background-image: linear-gradient(to right, #F5F6F7 1px, transparent 1px), linear-gradient(to bottom, #F5F6F7 1px, transparent 1px);
    background-size: 18px 18px;
}

/** layer infos **/
.ms-editor .ms-layer-infos {
    position: sticky;
    z-index: 25;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;
}
.ms-editor .ms-layer-infos > * {
    pointer-events: all;
    cursor: auto;
    user-select: none;
}
/** loader **/
.ms-editor .loader {
    z-index: 30;
    position: absolute;
    width: 120px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    border: 16px solid #F5F6F7;
    border-radius: 50%;
    border-top-color: #1A9FFF;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/** state **/
.ms-editor .state {
    z-index: 99;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(100% - 50px);
    padding: 12px;
    left: 0px;
    background-color: #F5F6F7;
    cursor: auto;
    color: #717171;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), -1px -1px 5px rgba(0, 0, 0, 0.25);
}
.ms-editor .state .busy {
    color: #717171;
    border: 4px solid #F5F6F7;
    border-radius: 100%;
    border-top-color: #1A9FFF;
    border-left-color: #1A9FFF;
    border-bottom-color: #1A9FFF;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    height: 100%;
    width: 100%;
}
.ms-editor .state .idle {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** message **/
.ms-editor .message {
    z-index: 999;
    position: absolute;
    width: 300px;
    max-height: 50%;
    overflow: auto;
    left: calc(50% - 150px);
    min-height: 200px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), -1px -1px 5px rgba(0, 0, 0, 0.25);
    padding: 12px;
}
.ms-editor .message.error-msg::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCA3Ni41IDYxMiA0NTkiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWluIG1lZXQiPgogICAgPHBhdGggZmlsbD0iIzFBOUZGRiIgZD0iTTQ5NC43LDIyOS41Yy0xNy44NTEtODYuNy05NC4zNTEtMTUzLTE4OC43LTE1M2MtMzguMjUsMC03My45NSwxMC4yLTEwMiwzMC42bDM4LjI1LDM4LjI1IGMxNy44NS0xMi43NSw0MC44LTE3Ljg1LDYzLjc1LTE3Ljg1Yzc2LjUsMCwxNDAuMjUsNjMuNzUsMTQwLjI1LDE0MC4yNXYxMi43NWgzOC4yNWM0My4zNSwwLDc2LjUsMzMuMTUsNzYuNSw3Ni41IGMwLDI4LjA1LTE1LjMsNTMuNTUtNDAuOCw2Ni4zbDM4LjI1LDM4LjI1QzU5MS42LDQzOC42LDYxMiw0MDAuMzUsNjEyLDM1N0M2MTIsMjkwLjcsNTU4LjQ1LDIzNC42LDQ5NC43LDIyOS41eiBNNzYuNSwxMDkuNjUgbDcxLjQsNjguODVDNjYuMywxODMuNiwwLDI0OS45LDAsMzMxLjVjMCw4NC4xNSw2OC44NSwxNTMsMTUzLDE1M2gyOTguMzVsNTEsNTFsMzMuMTUtMzMuMTVMMTA5LjY1LDc2LjVMNzYuNSwxMDkuNjV6IE0xOTYuMzUsMjI5LjVsMjA0LDIwNEgxNTNjLTU2LjEsMC0xMDItNDUuOS0xMDItMTAyYzAtNTYuMSw0NS45LTEwMiwxMDItMTAySDE5Ni4zNXoiIC8+Cjwvc3ZnPgo=");
}
.ms-editor .message.info-msg::before {
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgdmlld0JveD0iMCAwIDI0IDI0IgogIGZpbGw9Im5vbmUiCiAgc3Ryb2tlPSIjMUE5RkZGIgogIHN0cm9rZS13aWR0aD0iMiIKICBzdHJva2UtbGluZWNhcD0icm91bmQiCiAgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIKPgogIDxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIiAvPgogIDxsaW5lIHgxPSIxMiIgeTE9IjE2IiB4Mj0iMTIiIHkyPSIxMiIgLz4KICA8bGluZSB4MT0iMTIiIHkxPSI4IiB4Mj0iMTIuMDEiIHkyPSI4IiAvPgo8L3N2Zz4=");
    background-size: 100% 100%;
    display: block;
    margin: auto;
    padding-bottom: 10px;
    height: 25px;
    width: 25px;
}
.ms-editor .message .ms-button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="24px" height="24px" stroke-width="1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23000000"><path d="M9.17218 14.8284L12.0006 12M14.829 9.17157L12.0006 12M12.0006 12L9.17218 9.17157M12.0006 12L14.829 14.8284" stroke="%23000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="%23000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    border: none;
    font-size: inherit;
    padding: 0;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}
.ms-editor .message .ms-button:hover {
    background-color: #EEEEEE;
}

/** tooltip **/
.ms-editor .ms-tooltip .ms-tooltip-content {
    position: absolute;
    z-index: 9999;
    white-space: nowrap;
    background-color: white;
    color: black;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
    font-weight: bold;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    display: none;
    opacity: 1 !important;
}
.ms-editor .ms-tooltip:hover .ms-tooltip-content {
    display: block;
}
.ms-editor .ms-tooltip .ms-tooltip-content.top {
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%);
}
.ms-editor .ms-tooltip .ms-tooltip-content.left {
    top: 50%;
    left: 0px;
    transform: translate(-100%, -50%);
}
.ms-editor .ms-tooltip .ms-tooltip-content.right {
    top: 50%;
    right: 0px;
    transform: translate(100%, -50%);
}
.ms-editor .ms-tooltip .ms-tooltip-content.bottom {
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 100%);
}

/** smartguide **/
.ms-editor .smartguide {
    position: absolute;
    z-index: 40;
    font-size: 16px;
    line-height: 48px;
    top: 0px;
    left: 0px;
    width: 100%;
    cursor: default;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 2px 2px 12px #BDBDBD;
}

.ms-editor .smartguide .smartguide-wrapper {
    display: flex;
    border-bottom: 1px solid #959da6;
}
.ms-editor .smartguide .tag-icon {
    padding: 0 18px;
    border-left: 1px solid #959DA6;
    border-top: 1px solid #959DA6;
    border-right: 1px solid #959DA6;
    font-weight: bold;
    font-size: large;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 31;
    height: 100%;
    line-height: 48px;
    height: 48px;
    width: 48px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #959DA6;
}
.ms-editor .smartguide .ellipsis {
    cursor: pointer;
    height: 48px;
    width: 48px;
    line-height: 38px;
    padding: 0 8px;
    font-weight: bold;
    font-size: x-large;
    color: #959DA6;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.ms-editor .smartguide .ellipsis:active {
    background-color: #e0e0e0;
}
.ms-editor .smartguide .prompter-container {
    height: 48px;
    width: calc(100% - 96px);
    line-height: 48px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-align: left;
    color: #bfbfbf;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.ms-editor .smartguide .prompter-container > div > span {
    cursor: pointer;
    display: inline-block;
}
.ms-editor .smartguide .prompter-container .prompter-text {
    margin-left: 12px;
}
.ms-editor .smartguide .prompter-container .prompter-text .added-word {
    animation: 0.1s linear word-added,
    3s ease-in-out color-input;
}
.ms-editor .smartguide .prompter-container .prompter-text .modified-word {
    animation: 0.1s linear word-modified,
    3s ease-in-out color-input;
}
.ms-editor .smartguide .candidates {
    z-index: 100;
    position: absolute;
    color: black;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    box-shadow: 2px 2px 12px #BDBDBD, -2px 2px 12px #BDBDBD;
    background-color: #F5F5F5;
    -webkit-tap-highlight-color: transparent;
}
.ms-editor .smartguide .candidates > span {
    cursor: pointer;
    padding: 2px 20px;
}
.ms-editor .smartguide .candidates > span:hover {
    background-color: #EEEEEE;
}
.ms-editor .smartguide .candidates > span:active {
    background-color: #E0E0E0;
}
.ms-editor .smartguide .candidates .selected-word {
    font-weight: bold;
    background-color: #E0E0E0;
}
.ms-editor .smartguide .more-menu {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    line-height: 30px;
    border-radius: 3px;
    position: absolute;
    z-index: 100;
    box-shadow: 2px 2px 12px #BDBDBD;
    background-color: #F5F5F5;
    overflow: hidden;
    transition: max-height 1s ease-out, opacity 1s, visibility 0.5s linear;
    right: 0;
    bottom: 0;
    transform: translateY(100%)
}
.ms-editor .smartguide .more-menu.open {
    max-height: 500px;
    visibility: visible;
    opacity: 1;
}
.ms-editor .smartguide .more-menu.close {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
}
.ms-editor .smartguide .more-menu .options-label-button {
    color: black;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    background: transparent;
    border: none;
    padding: 0 24px;
    margin: 0;
    height: 40px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.ms-editor .smartguide .more-menu .options-label-button:hover {
    background-color: #EEEEEE;
}
.ms-editor .smartguide .more-menu .options-label-button:active {
    background-color: #E0E0E0;
}
.ms-editor .ps__rail-x {
    top: 32px !important;
}

/** collapsible */
.ms-editor .collapsible-wrapper .collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: rgb(66, 66, 66);
}
.ms-editor .collapsible-wrapper .collapsible-header:hover {
    background-color: rgb(239, 239, 239, 1);
}
.ms-editor .collapsible-wrapper .collapsible-header .collapsible-header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 32px;
    width: 32px;
    padding: 4px;
    transition: transform 500ms;
}
.ms-editor .collapsible-wrapper.active .collapsible-header .collapsible-header-icon {
    transform: rotate(180deg);
}
.ms-editor .collapsible-wrapper .collapsible-content {
    overflow: auto;
    max-height: 0px;
    transition: max-height 500ms;
}
.ms-editor .collapsible-wrapper.active .collapsible-content {
    max-height: 200px;
}

/** separator **/
.ms-editor hr.separator.horizontal {
    min-height: 1px;
    min-width: 100%;
    max-height: 1px;
    max-width: 100%;
    margin: 5px 0;
    border: none;
    border-top: 1px solid lightgrey;
}
.ms-editor hr.separator.vertical {
    min-height: 100%;
    min-width: 1px;
    max-height: 100%;
    max-width: 1px;
    margin: 0 5px;
    border: none;
    border-left: 1px solid lightgrey;
}

/** menu **/
.ms-editor .ms-menu {
    z-index: 99;
    padding: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), -1px -1px 5px rgba(0, 0, 0, 0.25);
    cursor: auto;
    pointer-events: all;
}
.ms-editor .ms-menu-top-left {
    position: absolute;
    top: 0;
    left: 5px;
    border-radius: 0 0 5px 5px;
}
.ms-editor .ms-menu-bottom {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
.ms-editor .ms-menu-top-right {
    position: absolute;
    top: 0;
    right: 5px;
    border-radius: 0 0 5px 5px;
}
.ms-editor .ms-menu-colmun {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ms-editor .ms-menu-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ms-editor .ms-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 5px;
    width: 100%;
}
.ms-editor .ms-menu-item select,
.ms-editor .ms-menu-item input:not([type=checkbox]) {
    min-width: 125px;
    max-width: 125px;
}
.ms-editor .ms-menu .select-language {
    width: auto;
    height: 32px;
    padding: 0px 8px;
}

.ms-editor .ms-menu-item.list button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    border: none;
    font-size: inherit;
    padding: 0;
    background-color: white;
}
.ms-editor .ms-menu-item.list button:hover {
    background-color: rgb(239, 239, 239);
}
.ms-editor .ms-menu-item.list button.active {
    border: 1px solid #1A9FFF;
}

.ms-editor .ms-menu .color-list {
    gap: 2px;
    cursor: pointer;
    flex-wrap: wrap;
    margin: auto;
    padding: 0px;
    min-width: 150px;
    max-width: 150px;
}

.ms-editor .ms-menu .thickness-list {
    gap: 2px;
    cursor: pointer;
    flex-wrap: wrap;
    margin: auto;
    padding: 0px;
    min-width: 150px;
    max-width: 150px;
}

.ms-editor .ms-menu .font-size-list {
    gap: 2px;
    cursor: pointer;
    flex-wrap: wrap;
    margin: auto;
    padding: 0px;
    min-width: 150px;
    max-width: 150px;
}

.ms-editor .ms-menu .ms-menu-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    height: 32px;
    width: 100%;
    padding: 4px;
    border: none;
    font-size: inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}
.ms-editor .ms-menu svg {
    position: relative;
    width: 20px;
    height: 20px;
}
.ms-editor .ms-menu .ms-menu-button.square {
    width: 32px;
    justify-content: center;
}
.ms-editor .ms-menu .ms-menu-button .color {
    height: 75%;
    width: 75%;
    border-radius: 100%;
    margin: auto;
}
.ms-editor .ms-menu .ms-menu-button:hover {
    background-color: rgb(239, 239, 239, 1);
}
.ms-editor .ms-menu .ms-menu-button:disabled {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0.5;
}
.ms-editor .ms-menu .ms-menu-button:focus,
.ms-editor .ms-menu .ms-menu-button:active {
    background-color: #1aa0ff55;
    outline: none;
}
.ms-editor .ms-menu .ms-menu-button.active {
    border: 1px solid #1A9FFF;
    color: #1A9FFF;
}

.ms-editor .sub-menu {
    position: relative;
    overflow: visible;
}
.ms-editor .sub-menu .sub-menu-content {
    position: absolute;
    z-index: 100;
    white-space: nowrap;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25), -1px -1px 5px rgba(0, 0, 0, 0.25);
    width: auto;
    padding: 5px;
    border-radius: 5px;
    display: none;
}
.ms-editor .sub-menu .sub-menu-content.open {
    display: block;
}
.ms-editor .sub-menu .sub-menu-content.top {
    top: -8px;
    transform: translate(-50%, -100%);
    left: 50%;
}
.ms-editor .sub-menu .sub-menu-content.bottom {
    bottom: -8px;
    transform: translate(0%, 100%);
    left: 0;
}
.ms-editor .sub-menu .sub-menu-content.bottom-left {
    bottom: -8px;
    transform: translate(-0%, 100%);
    right: 0;
}
.ms-editor .sub-menu .sub-menu-content.right {
    top: 50%;
    transform: translate(100%, -50%);
    right: -8px;
}

.ms-editor .ms-menu-context {
    position: absolute;
}

.ms-editor output.tooltip {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -250%);
    white-space: nowrap;
    background-color: white;
    color: black;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
    font-weight: bold;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    display: none;
}
.ms-editor input:hover + output.tooltip,
.ms-editor input:focus + output.tooltip,
.ms-editor input:focus-visible + output.tooltip {
    display: block;
}

/** animations **/
.ms-editor .removed-stroke {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.ms-editor .added-stroke {
    animation: 0.2s opacity-appear;
}

@keyframes color-input {
    0% {
        color: black;
    }
    100% {
        color: #bfbfbf;
    }
}

@keyframes word-added {
    0% {
        transform: translate(5px, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes word-modified {
    0% {
        transform: translate(0, 5px);
    }
    100% {
        transform: none;
    }
}

@keyframes opacity-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity : 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
